{% extends "app/layout.html" %}

{% block content %}

<h2>Alunos</h2>
<p><a href="{% url 'novo_aluno' %}">Cadastrar novo aluno &raquo;</a></p>

<h2>Candidatos</h2>
<p><a href="{% url 'novo_candidato' %}">Cadastrar novo candidato &raquo;</a></p>

<h2>Colaborador</h2>
<p><a href="{% url 'novo_colaborador' %}">Cadastrar novo colaborador &raquo;</a></p>

<h2>Cursos</h2>
<p><a href="{% url 'novo_curso' %}">Cadastrar novo curso &raquo;</a></p>
<p><a href="{% url 'cadastro_cursos' %}">Cursos &raquo;</a></p>

<h2>Contato</h2>
<p><a href="{% url 'contato' %}">Contato &raquo;</a></p>

<h2>Desenvolvido</h2>
<p><a href="{% url 'desenvolvido' %}">Desenvolvido &raquo;</a></p>

{% endblock %}
